.flex {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    -ms-flex-align: center;
}
.Rech {
   border: 5px solid black;
   width: 500px;
   height: 800px;
   margin-top: 25px;
   

}
.produit{

    width: 1650px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    padding-top: 25px;
    border: 8px solid black
}
.item{
    border : 8px solid black ;
    width: 350px;
    height: 350px;
    align-items: center;

}
div img {
    width: 280px;
    height:200px;
    align-self: center;
}
.footer{
    background-color: black;
    color : grey
}